@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: theme('fontFamily.sans');
  color: theme('colors.slate.900');
  background-color: theme('colors.slate.50');
}

body {
  margin: 0;
  min-height: 100vh;
}


